.feed_container{
    width:100%;
    display: flex;
    flex-direction: column;
    margin:2em 0em;
}

h2{
    margin:1em;
}

@media only screen and (min-width:821px)
{
    .feed_container{
        flex-direction: row;
        justify-content: space-between;
    }

    .card_container{
       
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
        gap:20px;
        margin-right: 5em;
    }
    .headlines_container{
        flex:0.25;
       text-align: justify;

    }
    .headlines_container>h1{
        margin-bottom:1em;
    }
    
  

}