*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.4rem;
  padding: 0em;

}
h1{
  font-size:1.5rem;
  text-align: justify;
}
p{
  text-align: justify;
  font-size: 1.2rem;
}


 /* *******  Custom properties */

 :root{
 
  --black-primary:#16181b;
  --secondary-black:#5a5b5c;
  --grey-color:#4c4c4c;
  --light-grey:#dcdcdc;
  --title-font:'Dancing Script', cursive;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  
 }

 @media only screen and (min-width:821px)
 {
  body{
    padding:0em 3em;
    
    
  }
  h1{
font-size: 2rem;
  }
  p{
    font-size: 1.4rem;
  }
 }

